html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #2887D9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

li {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 390px) {
  .container {
    width: 390px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    width: 1366px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.tittle-dr {
  font-size: 48px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  width: 147px;
  height: 44px;
  top: 40px;
  left: 36px;
  margin-top: 20px;
  margin-left: 35px;
  color: #2887D9;
}

.item-list-dr {
  display: flex;
  justify-content: space-between;
}

.list-dr {
  display: block;
  margin-top: 50px;
  margin-left: 5px;
}

.nomber-p {
  color: #D1A4BC;
  font-size: 96px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  margin: 10px;
}

.old {
  font-size: 32px;
  color: #D1A4BC;
  text-align: center;
}

.p-doctor {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 25px;
  color: #2887D9;
}

.p-doctor-2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
  color: #2887D9;
}

.search-dr {
  width: 668px;
  height: 80px;
  top: 316px;
  left: 18px;
  padding: 20px;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  background: #72B7F2;
  margin-left: 50px;
  text-align: center;
  font-size: 32px;
}

.frame {
  display: block;
  margin-top: 150px;
  margin-bottom: 0px;
  margin-left: 35px;
  border: 1px solid #A4CEF5;
  padding: 14px;
  border-radius: 50px;
  width: 671px;
  height: 396px;
}

.border-box h1 {
  margin-top: 20px;
  margin-left: 25px;
}

.section-q-n-a {
  background-color: #ECEFF7;
  padding-bottom: 50px;
  padding-top: 24px;
}
@media screen and (max-width: 1366px) {
  .section-q-n-a {
    width: 390px;
  }
}

.title {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 44px;
  margin-bottom: 40px;
  color: #2887D9;
}

@media screen and (min-width: 1366px) {
  .container-1 {
    width: 300px;
    height: 1100px;
    border-radius: 50px;
    margin-left: 40px;
    background: #F3DCDC;
  }
}

.list {
  margin-left: 35px;
  padding-top: 30px;
}

.item {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 1366px) {
  .item {
    padding-bottom: 30px;
  }
}

.link {
  color: #3A3B3D;
}

.link:hover,
.link:focus {
  color: #2887D9;
}

.main-container {
  display: flex;
}

.container-2 .item {
  color: #2887D9;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 32px 32px 32px 23px;
  border-bottom: 1px solid #72B7F2;
  width: 900px;
}

.container-2 {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1366px) {
  .container-2 {
    display: none;
  }
}

.circle-1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #72B7F2;
  margin-left: 26px;
  margin-bottom: 170px;
  margin-top: 50px;
}
@media screen and (max-width: 1366px) {
  .circle-1 {
    display: none;
  }
}

.circle-2 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #72B7F2;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 170px;
}
@media screen and (max-width: 1366px) {
  .circle-2 {
    display: none;
  }
}

.circle-3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #72B7F2;
  margin-left: 10px;
}
@media screen and (max-width: 1366px) {
  .circle-3 {
    display: none;
  }
}

.accordion-body {
  width: 500px;
}

.accordion-item {
  border: none;
}

.item-2 {
  color: #3A3B3D;
  font-family: "Open Sans";
  font-size: 22.767px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px;
}

.accordion-collapse,
.accordion-button {
  background-color: #ECEFF7;
}/*# sourceMappingURL=main.css.map */