<section class="about-evidence">
<div class="container">
    <h2 class="section-title">Про клініку в цифрах (2022)</h2>
    <ul class="numbers-list">
        <li class="list-item bgc-dark-vanilla">
            <span>
            <p class="quantity quantity-of-patients">13 370</p>
            <p class="description-quantities">щасливих пацієнтів</p>
            </span>
        </li>
        <li class="list-item bgc-pale-aqua">
            <span>
            <p class="quantity quantity-of-vaccination">568</p>
            <p class="description-quantities">вакцинацій</p>
            </span>
        </li>
        <li class="list-item bgc-light-cyan">
            <span>
            <p class="quantity quantity-of-research">1 247</p>
            <p class="description-quantities research">лабораторних досліджень</p>
            </span>
        </li>
        <li class="list-item bgc-jasmine">
            <span>
            <p class="quantity quantity-of-years">+10</p>
            <p class="description-quantities">років турботи про Ваших малят</p>
            </span>
        </li>
    </ul>
</div>    
</section>