<section class="doctors-hero">
    <div class="container hero-dr">
        <div class="frame">
<h2 class="tittle-dr">Лікарі</h1>
<ul class="item-list-dr">
    <li class="list-dr">
        <p class="nomber-p">+100</p>
        <p class="p-doctor">досвідчених лікарів</p>
    </li>
    <li class="list-dr">
<p class="nomber-p">35 <span  class="old">років</span></p>
<p class="p-doctor-2">середній стаж</p>
    </li>
</ul>
 </div>
<button class="search-dr" type="button">Знайти лікаря</button>
<ul class="img-list">
    <li class="foto">
<img class="fotka" src="./images/doctors.img/girl-1.png" alt="nurse-1"> 
    </li>
    <li class="foto">
        <img class="fotka-1" src="./images/doctors.img/3.png" alt="bubble"> 
        </li>
        <li class="foto">
            <img class="fotka-2" src="./images/doctors.img/girl-3.png" alt="nurse-3"> 
        </li>
        <li class="foto">
            <img class="fotka-3" src="./images/doctors.img/2.png" alt="bubble"> 
           </li>
    <li class="foto">
<img class="fotka-4" src="./images/doctors.img/girl-2.png" alt="nurse-2"> 
    </li>
    <li class="foto">
        <img class="fotka-5" src="./images/doctors.img/1.png" alt="bubble"> 
    </li>
</ul>

</div>
</section>