<section class="doctor-view-section">
    <div class="doctor-view-container">
        <div class="input-container">
            <h1 class="doctor-view-title">Лікарі</h1>
            <input class="search-doctor" type="text" placeholder="Шукати ім’я, професію">
        </div>
        <div class="arrow-container">
            <p class="main">Головна</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M14.43 6.42969L20.5 12.4997L14.43 18.5697M3.5 12.4997H20.33" stroke="#2887D9" stroke-width="1.5"
                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <p class="search-text">Знайти лікаря</p>
        </div>
        <ul class="search-link-list">
            <li class="search-items"><a class="search-link" href="">Всі лікарі</a></li>
            <li class="search-items"><a class="search-link" href="">Педіатр</a></li>
            <li class="search-items"><a class="search-link" href="">Хірург</a></li>
            <li class="search-items"><a class="search-link" href="">Кардіолог</a></li>
            <li class="search-items"><a class="search-link" href="">Невролог</a></li>
            <li class="search-items"><a class="search-link" href="">Гастроентеролог</a></li>
            <li class="search-items"><a class="search-link" href="">Інфекціоніст</a></li>
        </ul>
        <ul class="doctor-foto-list">
            <div class="first-foto-list">
                <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Tkachuk@1x.png 1x,
                    ./images/doctor-view/Tkachuk@2x.png 2x,
                    ./images/doctor-view/Tkachuk@3x.png 3x
                "
                src="./images/doctor-view/Tkachuk@1x.png" alt="" class="doctor-foto"
                sizes="(min-width: 1920px) 270px, (min-width: 1366px) 354px, (max-width: 1365px) 450px">
                <h1 class="doctor-title">Ткачук Олег Миколайович</h1>
                <p class="doctor-text">Кардіолог</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Tkachuk-(2)@1x.png
                    ./images/doctor-view/Tkachuk-(2)@2x.png
                    ./images/doctor-view/Tkachuk-(2)@3x.png
                "
                src="./images/doctor-view/Tkachuk-(2)@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Ткачук Олег Миколайович</h1>
                <p class="doctor-text">Кардіолог</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Trigub@1x.png
                    ./images/doctor-view/Trigub@2x.png
                    ./images/doctor-view/Trigub@3x.png
                "
                src="./images/doctor-view/Trigub@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Тригуб Анна Вадимівна</h1>
                <p class="doctor-text">Педіатр</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Drony@1x.png
                    ./images/doctor-view/Drony@2x.png
                    ./images/doctor-view/Drony@3x.png
                "
                src="./images/doctor-view/Drony@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Дронь Алла Сергіївна</h1>
                <p class="doctor-text">Невролог</p>
            </li>
            </div>
            <div class="second-foto-list">
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Parkhomchuk@1x.png
                    ./images/doctor-view/Parkhomchuk@2x.png
                "
                src="./images/doctor-view/Parkhomchuk@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Пархомчук Альона Василівна</h1>
                <p class="doctor-text">Педіатр</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Biloshitska@1x.png
                    ./images/doctor-view/Biloshitska@2x.png
                "
                 src="./images/doctor-view/Biloshitska@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Білошицька Анна Олександрівна</h1>
                <p class="doctor-text">Консультант з грудного вигодовування</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Shevchuk@1x.png
                    ./images/doctor-view/Shevchuk@2x.png
                "
                 src="./images/doctor-view/Shevchuk@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Шевчук Ірина Михайлівна</h1>
                <p class="doctor-text">Дитяча лікарка УЗД</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Demchyshyn@1x.png
                    ./images/doctor-view/Demchyshyn@2x.png
                "
                src="./images/doctor-view/Demchyshyn@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Демчишин Ярослав Павлович</h1>
                <p class="doctor-text">Інфекціоніст</p>
            </li>
            </div>
            <div class="third-foto-list">
                <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Malinovsky@1x.png
                    ./images/doctor-view/Malinovsky@2x.png
                "
                 src="./images/doctor-view/Malinovsky@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Маліновський Дмитро Сергійович</h1>
                <p class="doctor-text">Вертерболог</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Vovk@1x.png
                    ./images/doctor-view/Vovk@2x.png
                "
                src="./images/doctor-view/Vovk@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Вовк Анатолій Вікторович</h1>
                <p class="doctor-text">Лікар УЗД</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Yanoshchuk@1x.png
                    ./images/doctor-view/Yanoshchuk@2x.png
                "
                src="./images/doctor-view/Yanoshchuk@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Янощук Ольга Василівна</h1>
                <p class="doctor-text">Педіатр</p>
            </li>
            <li class="doctors-foto-items">
                <img
                srcset="
                    ./images/doctor-view/Yamkova@1x.png
                    ./images/doctor-view/Yamkova@2x.png
                "
                src="./images/doctor-view/Yamkova@1x.png" alt="" class="doctor-foto">
                <h1 class="doctor-title">Ямкова Ольга Олександрівна</h1>
                <p class="doctor-text">Гастроентеролог</p>
            </li>
            </div>
        </ul>
        <div class="more-container">
            <p class="more-text">Дивитись ще</p>
            <svg class="more-png" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M3.58008 5.16016H17.4201C19.0801 5.16016 20.4201 6.50016 20.4201 8.16016V11.4802" stroke="#2887D9"
                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6.74008 2L3.58008 5.16L6.74008 8.32M20.4201 18.84H6.58008C4.92008 18.84 3.58008 17.5 3.58008 15.84V12.52"
                    stroke="#2887D9" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17.2598 21.9997L20.4198 18.8397L17.2598 15.6797" stroke="#2887D9" stroke-width="1.5"
                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        
    </div>
</section>