<section class="find-doctor">
    <div class="container">
        <div class="fd-img-container">
            <img src="./images/find-doctor/pexels-pixabay-36793@3x.jpg"

                 srcset="./images/find-doctor/pexels-pixabay-36793@1x.jpg 1x,
                        ./images/find-doctor/pexels-pixabay-36793@2x.jpg 2x,
                        ./images/find-doctor/pexels-pixabay-36793@3x.jpg 3x"

                 sizes="(min-width: 1920px) 808px, (min-width: 1366 px) 588px, (min-width: 390px) 391px"

                 alt="hand"
             >
        </div>

    <form class="find-doctor-form" action="">
        <h2 class="section-title">Допоможемо знайти лікаря</h2>

        

        <input class="input-1" type="text" name="name" placeholder="Як до вас звернутись?">
        <input type="text" name="phone-number" placeholder="+380(___) ___ -__-__">

        <div class="connection-container">
            <p>Як з вами краще зв’язатися?</p>
            <label for="connection-viber"><input id="connection-viber" type="radio" name="connection" value="Viber"> Напишіть мені на Viber</label>
            <label for="connection-call"><input id="connection-call" type="radio" name="connection" value="Call" checked> Подзвоніть мені</label>
        </div>


        <button type="submit">Відправити</button>
    </form>
    </div>
</section>