<section class="find-doctor">
    <form action="">
        <h2>Допоможемо знайти лікаря</h2>
        <input type="text" name="name" placeholder="Як до вас звернутись?">
        <input type="text" name="phone-number" placeholder="+380(___) ___ -__-__">

        <div>
            <p>Як з вами краще зв’язатися?</p>
            <label for="connection-viber"><input id="connection-viber" type="radio" name="connection" value="Viber"> Напишіть мені на Viber</label>
            <label for="connection-call"><input id="connection-call" type="radio" name="connection" value="Call" checked> Подзвоніть мені</label>
        </div>

        <button type="submit">Відправити</button>
    </form>
</section>