<header class="header section">
    <div class="container">
        <a href="./"></a>

        <div class="burger-menu">
            <nav>
              <ul class="login-language">
                <li class="item">
                  <button type="button" class="cabinet">
                    <svg>
                        <use href=""></use>
                    </svg>
                    Увійти
                  </button>
                </li>
                <li class="item">
                  <svg>
                    <use href=""></use>
                  </svg>
                  <button type="button">Укр</button>
                </li>
                <li class="item">
                  <button type="button">Eng</button>
                </li>
              </ul>
      
      
              <ul class="nav-list">
                  <li class="nav-item">
                      <a href="./">Про нас</a>
                  </li>
                  <li class="nav-item">
                      <a href="">Лікарі</a>
                  </li>
                  <li class="nav-item">
                      <a href="">Вартість</a>
                  </li>
                  <li class="nav-item">
                      <a href="">Запитання</a>
                  </li>
                  <li class="nav-item">
                      <a href="">Відгуки</a>
                  </li>
                  <li class="nav-item">
                      <a href="">Контакти</a>
                  </li>
              </ul>
          </nav>
          </div>
    </div>
</header>