<section class="section">
  <div class="container hero-f">
    <h1 class="had">Evidence</h1>
    <p class="podhad">Територія сучаної педіатрії - доказ нашої любові</p>
    <button class="hero-button" >Записатись на прийом</button>
    <div class="hero-div"><ul class="liliputy">
      <li class="liput">
        <svg>
        <use href="./images/symbol-defs.svg#phone">
      </svg><br>
        <p>З’єднаємо зараз</p>
      </li>
      <li class="liput">
        <svg>
        <use href="./images/symbol-defs.svg#phone">
      </svg><br>
        <p>Цілодобово</p>
      </li>
      <li class="liput">
        <svg>
        <use href="./images/symbol-defs.svg#phone">
      </svg><br>
        <p>Вартість 400 грн</p>
      </li>
      
    </ul>
    <ul>
 <img src="./images/hero/Component 11.jpg" alt="" class="forward" />
    </ul>
   
  </div>
    
  </div>
</section>
