<section>
  <h1>Evidence</h1>
  <p>Територія сучаної педіатрії - доказ нашої любові</p>
  <button>Записатись на прийом</button>
  <ul>
    <li>
      <svg>
        <use href="/src/images/symbol-defs.svg#phone">
      </svg>
      <p>З’єднаємо зараз</p>
    </li>
    <li>
      <svg>
        <use href="/src/images/symbol-defs.svg#kalendar">
      </svg>
      <p>Цілодобово</p>
    </li>
    <li>
      <svg>
        <use href="/src/images/symbol-defs.svg#Bumaznik">
      </svg>
      <p>Вартість 400 грн</p>
    </li>
    <img src="/src/images/hero/Component 11.jpg" alt="" />
  </ul>
</section>
