<section class="section hero">
 <div class="gh"> <div class="container hero-f">
    
    <h1 class="had">Evidence</h1>
    <p class="podhad">Територія сучаної педіатрії - доказ нашої любові</p>
    <button class="hero-button" >Записатись на прийом</button>
   
      <ul class="liliputy">
      <li class="liput">
        <svg class="svg-hero">
        <use href="./images/symbol-defs.svg#phone">
      </svg>
        <p>З’єднаємо зараз</p>
      </li>
      <li class="liput">
        <svg class="svg-hero">
        <use href="./images/symbol-defs.svg#phone">
      </svg>
        <p>Цілодобово</p>
      </li>
      <li class="liput">
        <svg class="svg-hero">
        <use href="./images/symbol-defs.svg#phone">
      </svg>
        <p>Вартість 400 грн</p>
      </li>
      
    </ul>
    </div>
    <img src="./images/hero/Component 11.png" alt="" class="forward" />

  </div>
 
    
  
</section>
