<section>
    <h2>Питання-відповідь</h2>
    <div class="">
        <ul>
            <li><a href="">Загальні питання</a></li>
            <li><a href="">Реєстрація та вхід</a></li>
            <li><a href="">Вакцинація</a></li>
            <li><a href="">Відео-консультація</a></li>
        </ul>
    </div>
    <div>
        <ol>
            <li>Як записатись до лікаря самостійно?             +</li>
            <li>Як записатись до лікаря за направленням?        +</li>
            <li>Як скасувати запис?                             +</li>
            <li>Як переглянути запис на прийом?                 +</li>
            <li>Як залишити відгук про лікаря?                  +</li>
            <li>Як змінити особисті дані?                       +</li>
            
        </ol>
    </div>
</section>