<section class="section-q-n-a">
    <h2 class="title">Питання-відповідь</h2>  

    <div class="main-container">
        <div class="container-1">
            <ul class="list">
                <li class="item"><a class="link" href="">Загальні питання</a></li>
                <li class="item"><a class="link" href="">Реєстрація та вхід</a></li>
                <li class="item"><a class="link" href="">Вакцинація</a></li>
                <li class="item"><a class="link" href="">Відео-консультація</a></li>
            </ul>

            <div class="circle-1"></div>

            <div class="circle-2"></div>

            <div class="circle-3"></div>

        </div>
        <div class="container-2">
            <ul>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button item" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            1. Як записатись до лікаря самостійно?
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <ul>
                                <li class="item-2">1. У розділі “Лікарі” оберіть потрібного лікаря.</li>
                                <li class="item-2">2. Натисніть на кнопку “Записатись на прийом”.</li>
                                <li class="item-2">3. Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</li>
                                <li class="item-2">4. Обрати вільний час прийому.</li>
                                <li class="item-2">5. Клікнути на кнопку "Записатись на обраний час". </li>
                                <li class="item-2">6. Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</li>
                                <li class="item-2">7. Ввести пароль та натиснути кнопку "Вхід".</li>
                                <li class="item-2">8. При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на
                                    кнопку "Записатися на обраний час".</li>
                                <li class="item-2">9. Дочекатися повідомлення "Запис на прийом здійснено успішно".</li>
                                <li class="item-2">10. Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</li>
                            </ul>   
                            
                        </div>
                      </div>
                    </div>
                  </div>
                <li class="item">2. Як записатись до лікаря за направленням? </li>
                <li class="item">3. Як скасувати запис?                      </li>
                <li class="item">4. Як переглянути запис на прийом?          </li>
                <li class="item">5. Як залишити відгук про лікаря?           </li>
                <li class="item">6. Як змінити особисті дані?                </li>
            </ul>
        </div>
    </div>
</section>
