<section class="service-section">
    <div class="my-div">
        <h2 class="service-section-title">Послуги та  вартість</h2>

        <ul class="service-list">
        
            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="child"></svg>
                    <p class="service-text">Педіатрія</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="vaccination"></svg>
                    <p class="service-text">Вакцинація</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="orthopaedist"></svg>
                    <p class="service-text">Ортопед</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="gastritis"></svg>
                    <p class="service-text">Гастроентеролог</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="dentist"></svg>
                    <p class="service-text">Стоматолог</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="neurologist"></svg>
                    <p class="service-text">Нефрролог</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="cardiologist"></svg>
                    <p class="service-text">Кардіолог</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="urologist"></svg>
                    <p class="service-text">Уролог</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="lab"></svg>
                    <p class="service-text">Лабораторія</p>
                </a>
            </li>

            <li class="service-frame">
                <a href="" class="service-link">
                    <svg class="more"></svg>
                    <p class="service-text">Дивитись ще</p>
                </a>
            </li>

        </ul>
    </div>
</section>