body {
    background: #ECEFF7;
}

.top {
    display: flex;
    margin-top: 16px;
    @media screen and (min-width:1366px) {
        margin-top: 53px;
    }
    @media screen and (min-width:1920px) {
        margin-top: 90px;
    }
}

.back {
    @media screen and (min-width:1366px) {
        width: 32px;
        height: 32px;
    }
    @media screen and (min-width:1920px) {
        width: 42px;
        height: 42px;
    }
}

.cross-3 {
    @media screen and (min-width:1366px) {
        width: 18.75px;
        height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        width: 24px;
        height: 24px;
    }
}

.zapis {
    margin-left: 15px;
    margin-right: 132px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    color: #3A3B3D;
    @media screen and (min-width:1366px) {
        margin-left: 16px;
        font-family: Open Sans;
        font-size: 18.75px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 1114px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 1525px;
    }
}

.pri-name {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    color: #2887D9;
    margin-left: 24px;
    margin-bottom: 8px;
    margin-top: 23px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 18.75px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 40px;
        margin-top: 27px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 100px;
        margin-top: 33px;
    }
}

.title-name {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #7B7B7B;
    margin-left: 24px;
    margin-bottom: 20px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 18.75px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 40px;
        margin-bottom: 24px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 100px;
        margin-bottom: 38px;
    }
}

.loc {
    display: flex;
    margin-left: 29px;
    @media screen and (min-width:1366px) {
        margin-left: 40px;
    }
    @media screen and (min-width:1920px) {
        margin-left: 56px;
    }
}

.location {
    margin-left: 8px;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #3A3B3D;
    margin-bottom: 37px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 44px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 56px;
    }
}

.loc-sv {
    @media screen and (min-width:1366px) {
        width: 20px;
        height: 20px;
    }
    @media screen and (min-width:1920px) {
        width: 24px;
        height: 24px;
    }
}

.choose-date-num {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #3A3B3D;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 10.938px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}

.choose-1 {
    display: flex;
    margin-left: 37px;
    position: relative;
    margin-bottom: 12px;
    @media screen and (min-width:1366px) {
        margin-left: 46px;
        margin-bottom: 15px;
    }

    @media screen and (min-width:1920px) {
        margin-left: 64px;
        margin-bottom: 20px;
    }
}

.choose-date {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #3A3B3D;
    margin-left: 15px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
}

.circle-1 {
    position: absolute;
    left: -8;
    @media screen and (min-width:1366px) {
        width: 18.75px;
        height: 18.75px;
        left: -6;
    }
    @media screen and (min-width:1920px) {
        width: 24px;
        height: 24px;
        left: -8;
    }
}

.nums {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #3A3B3D;
    margin-left: 62px;
    margin-bottom: 13px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.75px;
        margin-left: 77px;
        margin-bottom: 15px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-left: 102px;
        margin-bottom: 20px;
    }
}

.num-1 {
    margin-bottom: 8px;
    @media screen and (min-width:1366px) {
        margin-bottom: 11px;
    }
    @media screen and (min-width:1920px) {
        margin-bottom: 14px;
    }
}

.back-for {
    display: flex;
    margin-left: 62px;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    margin-bottom: 9px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 18.75px;
        margin-bottom: 17px;
        margin-left: 76px;
    }
    @media screen and (min-width:1920px) {
        margin-bottom: 22px;
        margin-left: 102px;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
    line-height: 24px;
    }
}

.forward {
    margin-left: 26px;
    @media screen and (min-width:1366px) {
        margin-left: 44px;
    }
    @media screen and (min-width:1920px) {
        margin-left: 56px;
    }
}

.num3 {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #3A3B3D;
    margin-left: 37px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 10.938px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.75px;
        margin-left: 46px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-left: 64px;
    }
}

.choose-time {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #8F8F8F;
    margin-left: 15px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.75px;
        margin-left: 23px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-left: 29px;
    }
}

.choose-2 {
    display: flex;
    margin-bottom: 42px;
    position: relative;
    @media screen and (min-width:1366px) {
        margin-bottom: 48px;
    }
    @media screen and (min-width:1366px) {
        margin-bottom: 62px;
    }
}

.circle-2 {
    position: absolute;
    left: 30;
    @media screen and (min-width:1366px) {
        width: 18.75px;
        height: 18.75px;
        left: 40;
    }
    @media screen and (min-width:1920px) {
        width: 24px;
        height: 24px;
        left: 56;
    }
}

.num4 {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #3A3B3D;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 10.938px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}

.autorizate {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 15px;
    color: #3A3B3D;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 18.75px;
        margin-left: 22px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin-left: 28px;
    }
}

.autorization {
    display: flex;
    margin-left: 37px;
    position: relative;
    margin-bottom: 20px;
    @media screen and (min-width:1366px) {
        margin-left: 46px;
        margin-bottom: 16px;
    }
    @media screen and (min-width:1920px) {
        margin-left: 64px;
        margin-bottom: 16px;
    }
}

.circle-3 {
    position: absolute;
    left: -6;
    @media screen and (min-width:1366px) {
        width: 18.75px;
        height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        width: 24px;
        height: 24px;
        left: -7;
    }
}

.number {
    margin-left: 24px;
    margin-bottom: 24px;
    @media screen and (min-width:1366px) {
        margin-left: 410px;
        margin-bottom: 12px;
    }
    @media screen and (min-width:1920px) {
        margin-left: 750px;
        margin-bottom: 16px;
    }
}

.number-text {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #3A3B3D;
    margin-bottom: 8px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 18.75px;
        margin-bottom: 12px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 16px;
    }
}

.enter-number {
    border-radius: 40px;
    border: solid 1px #72B7F2;
    background: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 300px;
    @media screen and (min-width:1366px) {
        padding: 16px;
        width: 400px;
        border: solid 0.781px #72B7F2;
    }
    @media screen and (min-width:1920px) {
        width: 400px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.password {
    margin-left: 24px;
    position: relative;
    @media screen and (min-width:1366px) {
        margin-left: 410px;
    }
    @media screen and (min-width:1920px) {
        margin-left: 750px;
    }
}

.password-text {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #3A3B3D;
    margin-bottom: 8px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 18.75px;
        margin-bottom: 12px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 16px;
    }
}

.password-enter {
    border-radius: 40px;
    width: 300px;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 20px;
    @media screen and (min-width:1366px) {
        padding: 16px;
        margin-bottom: 16px;
        width: 400px;
        border: 0.781px solid #2887D9;
    }
    @media screen and (min-width:1920px) {
        margin-bottom: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

.eye {
    position: absolute;
    left: 300;
    top: 40;
    @media screen and (min-width:1366px) {
        width: 15.625px;
        height: 15.625px;
        top: 47;
        left: 400;
    }
    @media screen and (min-width:1920px) {
        width: 20px;
        height: 20px;
        top: 50;
    }
}

.button-field {
    margin-left: 24px;
    @media screen and (min-width:1366px) {
        margin-left: 400px;
    }
    @media screen and (min-width:1920px) {
        margin-left: 750px;
    }
}

.log-in {
    border-radius: 40px;
    background: #FFFFFF;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 150px;
    padding-right: 156px;
    background: #72B7F2;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 8px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 15.625px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 19px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 210px;
        padding-right: 210px;
        @media screen and (min-width:1920px) {
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 22px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 195px;
            padding-right: 195px;
        }
    }
}

.forgot-sign-up {
    display: flex;
    margin-left: 32px;
    margin-bottom: 52px;
    @media screen and (min-width:1366px) {
        margin-left: 400px;
        margin-bottom: 42px;
    }
    @media screen and (min-width:1920px) {
        margin-left: 730px;
        margin-bottom: 53px;
    }
}

.forgot {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #3A3B3D;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
}

.sign-up {
    margin-left: 136px;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #3A3B3D;
    @media screen and (min-width:1366px) {
        margin-left: 246px;
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
}

.confirm-field {
    display: flex;
    margin-left: 42px;
    position: relative;
    @media screen and (min-width:1366px) {
        margin-left: 46px;
    }
    @media screen and (min-width:1920px) {
        margin-left: 64px;
    }
}

.num5 {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #3A3B3D;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 10.938px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}

.confirm {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #8F8F8F;
    margin-left: 15px;
    @media screen and (min-width:1366px) {
        font-family: Open Sans;
        font-size: 14.063px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.75px;
        margin-left: 23px;
    }
    @media screen and (min-width:1920px) {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-left: 29px;
    }
}

.circle-4 {
    position: absolute;
    left: -6;
    @media screen and (min-width:1366px) {
        width: 18.75px;
        height: 18.75px;
    }
    @media screen and (min-width:1920px) {
        width: 24px;
        height: 24px;
        left: -7;
    }
}