.doctors-hero{
    position: relative;

    padding-top: 200px;
    padding-bottom: 224px;
   
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
      
        @media screen and (min-width: $mobile) {
          width: $mobile;
        }
        @media screen and (min-width: $tablet) {
          width: $tablet;
        }
        @media screen and (min-width: $desktop) {
          width: $desktop;
        }
      }
}

.foto img{
    position: absolute;
}

.tittle-dr{
    font-size: 48px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
    color: #2887D9;


    @media screen and (max-width:$mobile){
    top: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px; 

    }


    @media screen and (min-width:$tablet){
        line-height: 31.304px;
        font-size: 34.15px;
        margin-top: 24px;
        margin-left: 24px;
    }

@media screen and (min-width:$desktop){
margin-top: 20px;
margin-left: 35px;

}
}

.item-list-dr{
    display: flex;
    justify-content: space-between;
}

.list-dr{
    display: block;
    margin-top: 50px;
    margin-left: 5px;
}

.nomber-p {
color: #D1A4BC;


font-weight: 400;
line-height: 44px;
letter-spacing: 0em;

@media screen and (max-width:$mobile){
    font-size: 48.701px;
    line-height: 22.321px; 
    top: 210.84px;
    right: 235.17px;
}


@media screen and (min-width:$tablet){
    font-size: 68.3px;
    line-height: 31.304px;
    }
 

   
  
@media screen and (min-width:$desktop){
    margin: 10px;
    font-size: 96px;
    }

}
.old{
font-size: 32px;
color: #D1A4BC;
text-align: center ;

}

.p-doctor{


letter-spacing: 0em;
text-align: center;



color: #2887D9;

@media screen and (max-width:$mobile){
    font-size: 16.234px;
top: 250.07px;
right: 190.17px;
}

@media screen and (min-width:$tablet){
    font-size: 22.767px;
    line-height: normal;

}

@media screen and (min-width:$desktop){
    font-size: 32px;
    line-height: 44px;
    padding-top: 25px;

    }

}



.p-doctor-2{

   
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;

    text-align: center;
    color: #2887D9;
    @media screen and (min-width:$tablet){
        font-size: 22.767px;
        font-style: normal;
 
    }



    @media screen and (min-width:$desktop){
     font-size: 32px;
     line-height: normal;
    }
}

.search-dr{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
color:#FFFFFF;
background: #72B7F2;
gap: 8px;
@media screen and (max-width:$mobile){
    border-radius: 30px;
    text-align: center;
    top: 283px;
    right: 25px;
    width: 342px;
    padding: 14px 143px;


    color: var(--white-input, #FFF);
font-size: 16px;
font-weight: 700;
line-height: 18px; 
}
    @media screen and (min-width:$tablet){
        width: 475px;
        padding: 16px;
        font-size: 22.767px;
        border-radius: 35.573px;
        
    }



@media screen and (min-width:$desktop){
    width: 668px;
padding: 20px;
border-radius: 50px;
margin-left: 10px;
font-size: 32px;
}


}


.frame{

    @media screen and (min-width:$tablet) {
        width:480px;
        border: 1px solid #A4CEF5;
        border-radius:50px ;
        height: 240px;
    }
 



@media screen and (min-width:$desktop) {
    display: block;
    border: 1px solid #A4CEF5;
padding: 14px;
border-radius:50px ;
width:671px;
height: 396px;
}
}

.border-box h1{
margin-top: 20px;
margin-left: 25px;
}


.img-list{
    display: flex;
}


.fotka{
@media screen and (max-width:$mobile){
    width: 139.232px;
    height: 139.232px;
    flex-shrink: 0;
top: 7.96px;
right: 19.97px;

}


    @media screen and (min-width: $tablet){
        top: 68px;
        right: 487px; 
        width: 180px;
        
    }

@media screen and (min-width: $desktop){
    top: 94px;
    right: 670px; 
    width: 270px;
}


}
.fotka-1{
    @media screen and (max-width:$mobile){
        opacity: 0;
    }
    @media screen and (min-width: $tablet){
        top: 20px;
        right: 323px; 
        width: 120px;
    }

@media screen and (min-width: $desktop){
    top: 32px;
    right: 465px;
    width:  166px;
}
}



.fotka-2{

    top: 72px;
    right: 140px;

    width:  266px;


    @media screen and (max-width:$mobile){
        width: 112.675px;
    height: 114.369px;
    top: 63.65px;
    right: 199.68px;
    border-radius: 57.185px;
    border: 0.847px solid #FCE296;
    }    
    @media screen and (min-width: $tablet){
        top: 52px;
        right: 113px; 
        width: 180px;
    }

@media screen and (min-width: $desktop){
    top: 72px;
    right: 140px;

    width:  266px;

}
}
.fotka-3{
    @media screen and (max-width:$mobile){
        opacity: 0;
    }
    @media screen and (min-width: $tablet){
        top: 380px;
        right: 432px; 
     width: 180px;
        
    }

@media screen and (min-width: $desktop){
   
    right: 710px;
    top: 560px ;
    width:  250px;

}

}

.fotka-4{
    @media screen and (max-width:$mobile){
        opacity: 0;
    }

    @media screen and (min-width: $tablet){
        top: 240px;
        right: 175px; 
     width: 380px;
        
    }

@media screen and (min-width: $desktop){
   
    right: 271px;
    top: 342px;
    bottom: 80px;

    width:   391px;

}
}

.fotka-5{

       bottom: 0;
       right: 0;
   
       width:   250px;

       @media screen and (max-width:$mobile){
        opacity: 0;
    }


       @media screen and (min-width: $tablet){
       opacity: 0;
        
    }

@media screen and (min-width: $desktop){
   
    bottom: 0;
    right: 0;

    width:   250px;


}
}