h1{
font-size: 48px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;


width: 147px;
height: 44px;
top: 40px;
left: 36px;
color: #2887D9;

}

.item-list{
    display: flex;
    justify-content: space-between;
}

.list{
    display: block;
    margin-top: 50px;
    margin-left: 25px;
}

.nomber {
color: #D1A4BC;

font-size: 96px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;

margin: 10px;


}
.old{
 width: 86px;
color: #D1A4BC;
text-align: center ;

}

.p{

font-size: 32px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: center;

}

button{
width: 668px;
height: 80px;
top: 316px;
left: 18px;
padding: 20px;
border-radius: 50px;
border: none;
color:#FFFFFF;
background: #72B7F2;
margin-left: 50px;
text-align: center;


}

.border{
display: block;
margin-top: 150px;
margin-bottom: 0px;
margin-left: 35px;

border: 1px solid #A4CEF5;
padding: 14px;
border-radius:50px ;
width:671px;
height: 396px;

}

.border h1{
margin-top: 20px;
margin-left: 25px;
}