.container{
    // outline: solid 2px red
}

.logo-div{
    @media screen and (max-width: 1365px) {
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header .container{
    position: relative;
}

.burger-menu{

    @media screen and (max-width: 1365px) {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        padding: 13px 20px 46px 20px;
        background-color: white;
    }

    @media screen and (min-width: $tablet) {
        margin-left: auto;
    }

    &.is-open{
        display: block;
    }
}

.burger-button.is-open .btn-close{
    display: block;
}

.burger-button.is-open .btn-open{
    display: none;
}

.btn-close{
    display: none;
}

.burger-button,
.search{
    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.burger-button,
.search,
.login-language button,
.vhid-v-kabinet-btn{
    border: none;
    background-color: transparent;
}

.logo img{
    width: 186px;
    height: 48px;
}

svg{
    fill: transparent;
}

nav{
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.flex-nav{
    @media screen and  (min-width: $tablet) {
        display: flex;
        align-items: center;
    }
        
}

.login-language{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-top: solid 1px $buttonColor;
    border-bottom: solid 1px $buttonColor;

    .cabinet::before,
    .global::before{
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        height: 24px;
        width: 24px;
        margin-right: 12px;
    }

    .cabinet::before{
        background-image: url('../images/header/vhіd-v-kabіnet.svg');
    }

    .global::before{
        background-image: url('../images/header/global.svg');
    }

    button{
        display: flex;
        justify-content: center;
        text-align: center;
        color: $secondaryTextColor;
        font-family: $secondaryFonts;
        font-size: 16px;

    }

    button:hover,
    button:focus{
        color: $primarytextColor;
    }

    .eng{
        color: #D0E1F1;
        font-family: $secondaryFonts;
        font-size: 16px;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.nav-list{
    @media screen and (max-width: 1365px) {
        margin-bottom: 80px;
    }

    @media screen and (min-width: $tablet) {
        display: flex;

    }
}

.nav-item{
    font-family: $secondaryFonts;
    @media screen and (max-width: 1365px) {
        border-bottom: solid 1px #c2c8d6;
        font-size: 16px;
        line-height: 44px;
    }
}

.nav-item a:hover,
.nav-item a:focus{
    color: $primarytextColor;
}

.nav-item:not(:last-child){
    margin-bottom: 8px;

    @media screen and (min-width: $tablet) {
        margin-right: 32px;
    }
}

.login-icon{
    margin-left: 64px;

    @media screen and (max-width: 1365px) {
        display: none;
    }
}

.address{
    margin-bottom: 16px;
    padding-left: 51px;
    position: relative;

    .item::before{
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        width: 28px;
        height: 28px;
    }

    .map::before{
        top: 6px;
        background-image: url('../images/header/map.svg');
    }

    .sms::before{
        top: 56px;
        background-image: url('../images/header/sms.svg');
    }

    .callcalling::before{
        top: 110px;
        background-image: url('../images/header/callcalling.svg');
    }

    .item p{
        color: $primarytextColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 8px;
    }

    address{
        color: $secondaryTextColor;
        font-family: $secondaryFonts;
        font-size: 16px;
        line-height: 22px;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.social-networks{
    display: flex;
    justify-content: center;
    align-items: center;

    .item:not(:first-child){
        margin-left: 36px;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}