



.had{
    color: #2887D9;
   margin-top: 285px;
        font-size: 140px;
        font-style: normal;
        font-weight: 300;
        line-height: 64px;
      margin-bottom: 70px;
    min-width: 635px;
}
.podhad{
    color: #2887D9;
    margin-bottom: 80px;
        font-family: Open-Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
}
.hero-button{
    
    border-radius: 50px;
        background: var(--blue-blue, #72B7F2);
        margin-bottom: 150px;
        max-width: 596px;
}

.liliputy{
    display: flex;
justify-content:left;
list-style: none;
}
.hero-div{
display: flex;

}

.hero-f{
    border-bottom: 1px solid var(--blue-blue, #72B7F2);
    min-width: 1042px;
}

.forward{
    width: 756px;
        height: 888px;
        right: 0;
        top: 0;
        position: absolute;
        
}
.liput{
    text-align: center;
}