.my-div {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
        width: $tablet;
        height: 594px;
    }
    @media screen and (min-width: $desktop) {
        width: $desktop;
        height: 766px;
    }
}

.cardiologist {
    background-image: url('/src/images/service/cardiologist.svg');
}

.child {
    background-image: url('/src/images/service/child.svg');
}

.dentist {
    background-image: url('/src/images/service/dentist.svg');
}

.gastritis {
    background-image: url('/src/images/service/gastritis.svg');
}

.lab {
    background-image: url('/src/images/service/lab.svg');
}

.more {
    background-image: url('/src/images/service/more.svg');
}

.neurologist {
    background-image: url('/src/images/service/neurologist.svg');
}

.orthopaedist {
    background-image: url('/src/images/service/orthopaedist.svg');
}

.urologist {
    background-image: url('/src/images/service/urologist.svg');
    margin-left: 12;
}

.vaccination {
    background-image: url('/src/images/service/vaccination.svg');
}

// Adaptive

.service-section-title {
    color: #2887D9;
    font-family: Open Sans;

    @media screen and (min-width: $tablet) {
        margin-left: 40px ;
        margin-bottom: 35px;
        font-size: 34.15px;
        font-weight: 600;
        line-height: 31.304px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 100px ;
        margin-bottom: 62px;
        font-size: 48px;
        font-weight: 600;
        line-height: 44px;
    }
}

.service-section {
    width: 1920px;
    height: 738px;
}

.service-list {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: -54px;
    margin-right: -92px;

    @media screen and (min-width: $tablet) {
        margin-left: 71.15px;
        width: 1228px;
        height: 438px;
    }

    @media screen and (min-width: $desktop) {
        width: 1850px;
        height: 594px;
        margin-left: 100px;
    }
}

.service-frame {
    border: 1px solid #72B7F2;
    border-radius: 50px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 38px;
        margin-right: 65.45px;
        width: 180px;
        height: 180px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 54px;
        margin-right: 92px;
        width: 270px;
        height: 270px;
    }
}

.service-frame:not(:last-child) {
    background-color: #CEF2F0;
}

.service-frame:last-child {
    background-color: #fff;
}

.service-frame:hover:not(:last-child),
.service-frame:focus:not(:last-child) {
    color: #F3DCDC;
}

.service-frame svg {
    fill: #2887D9;
    position: relative;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    
    @media screen and (min-width: $tablet) {
        left: 55;
        width: 71.146px;
        height: 71.146px;
    }

    @media screen and (min-width: $desktop) {
        left: 88;
        width: 100px;
        height: 100px;
    }
}

.service-frame a {
    padding-top: 65px;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
        padding-top: 30px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 65px;
    }
}

.service-text {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';

    @media screen and (min-width: $tablet) {
    font-size: 17.075px;
    font-weight: 400;
    line-height: 31.304px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 24px;
        font-weight: 400;
        line-height: 44px;
    }
}