.modal {
    padding: 50px;
    background-color:#ECEFF7;
    width: fit-content;
    height: fit-content;
}

.exit-button {
    position: relative;
    top: 0;
    left: 100%;
    padding: 0;
    border: none;
    background-color: #ECEFF7;
    width: 30px;
    height: 24px;
}

button {
    padding: 0;
    border: none;
    background-color: #ECEFF7;
    width: 30px;
    height: 24px;
}

.exit {
    background-repeat: no-repeat;
    background-image: url(/src/images/vaccine-prices-modal/exit.svg);
    width: 29px;
    height: 22px;
}

.container {
    width: 1189px;
height: 910px;
    border: solid #2887D9 1px;
    border-radius: 50px;
    width: inherit;
}

h2 {
    display: flex;
    justify-content: center;
    color: #2887D9;
}

.exeption {
    
    width: 1058px;
height: 60px;
    display: block;
    background-color:#D0E1F1;
}

.exeption p {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #2887D9;
    display: inline;
    margin-bottom: 0;
    margin-top: 0;
    width: fit-content;
    height: fit-content;
}

.exeption p:nth-child(1) {
    position: relative;
    left: 100;
}

.exeption p:nth-last-child(1) {
    position: relative;
    left: 650;
}

.exeption svg {
    position: relative;
    display: inline;
}

li:not(:first-child) {
    min-width: 1010px;
min-height: 60px;
padding-top: 4px;
padding-left: 24px;
padding-right: 24px;
line-height: 24px;
    display: block;
    width: fit-content;
    height: fit-content;
}

li:not(:first-child):not(:last-child) {
    
border-bottom: solid white 14px;
}

li:not(:first-child) svg {
    position: relative;
    right: 5px;
    top: 7px;
}

.arrow {
    background-image: url(/src/images/vaccine-prices-modal/arrow.svg);
    width: 32px;
    height: 32px;
}

.illness {
    display: inline;
    color: #3A3B3D;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40;
    margin-top: 0;
    margin-bottom: 0;
}

.expences {
    display: inline;
    color: #2887D9;
    font-family: 'Open Sans';
font-size: 20px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin: 0;
}

.expences.a {
    position: relative;
    left: 170;
}

.expences.b {
    left: 345;
    position: relative;
}

.expences.c {
    position: relative;
    left: 230;
}

.expences.d {
    position: relative;
    left: 205;
}